<style>
  #header-img{
    width: 5px;
    height: 5px;
  }

  #img{
    width:50%;
    height:auto;
  }

  /* #header{
    display: inline-block;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
  } */

  header {
    position: fixed;
    top: 0px;
    min-height: 20px;
    display: flex;
    padding-top: 0px;
    padding-left: 500px;
    align-items: center;
  }

  #form{
    position: right;
  }

  li{
      list-style: none;
  }


</style>
